{% for tenant, tenantinfo in tenants.items() %}

{% for vlan, vlaninfo in tenantinfo.vlans.items() %}
vlan {{ vlan }}
  name {{ vlaninfo.name }}
!
{% if vlaninfo.l3 == true %}
interface vlan {{ vlan }}
  vrf {{ tenant }}
  ip address virtual {{ vlaninfo.ip }}/{{ vlaninfo.mask }}
!
{% endif %}
{% endfor %}
{% endfor %}
